.profile_block {
  padding: 10px;
  .profile_block_content_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .profile_block_content_avatar {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 465px;
    img {
      width: 220px;
      height: 220px;
      border: 3px solid #4bbf84;
      border-radius: 50%;
    }
  }
  .input_file {
    display: none;
  }
  .profile_block_content_avatar_save_btn,
  .profile_block_content_avatar_edit_btn {
    color: #fff;
    background: #f0555c;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 7px 8px 5px 8px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 103px);
    transition: 0.3s;
    &:hover {
      color: #bfbeba;
      background: #5e606d;
    }
    svg {
      margin-right: 4px;
      font-size: 16px;
    }
  }
  .profile_block_content_avatar_save_btn {
    color: #fff;
    background: #4bbf84;
    left: calc(50% - 102px);
    bottom: -16px;
    width: 62px;
    justify-content: center;
  }
  .profile_block_content_info_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 455px;
    label {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 10px;
    }
    .profile_block_content_info_input_wrapper {
      display: flex;
      justify-content: space-between;
      width: 455px;
      .info_input_custom {
        margin-right: 10px;
      }
    }

    .profile_block_content_info_input {
      border: none;
      color: #bfbeba;
      background: #5e606d;
      border-radius: 4px;
      padding: 8px;
      font-size: 16px;
      border: 2px solid transparent;
      margin: 10px 0;
      min-height: 19px;
      transition: 0.3s;
      &:focus {
        outline: none;
        border: 2px solid #4bbf84;
      }
    }
  }
  .info_btn_wrapper {
    display: flex;
    align-items: center;
  }
  .info_save_btn,
  .info_close_btn,
  .info_edit_btn {
    color: #fff;
    background: #f0555c;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      color: #bfbeba;
      background: #5e606d;
    }
  }
  .info_save_btn {
    background: #4bbf84;
    margin-right: 10px;
    height: 36px;
    display: flex;
    align-items: center;
    padding: 0 15px;
  }
  .disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .info_close_btn {
    background: #fcb72c;
  }
}
