.admin_panel {
  color: #fff;
  max-width: 1180px;
  margin: 0 auto;

  .admin_panel_content {
    display: flex;
    justify-content: space-between;
  }

  .admin_panel_content_page {
    background: #252935;
    margin-top: 10px;
    border-radius: 4px;
    width: 100%;
    height: 100vh;
  }
}
