.complate_profile {
  border: 2px solid #5e606d;
  border-radius: 4px;
  padding: 6px;
  color: #bfbeba;
  display: flex;
  flex-direction: column;
  align-items: center;
  .complate_profile_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
  }
  .complate_profile_percent {
    font-size: 12px;
    background: #5e606d;
    border-radius: 50%;
    padding: 4px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #4bbf84;
  }
  .complate_profile_text {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    max-width: 98px;

    h3 {
      margin-top: 0;
      margin-bottom: 5px;
    }
    p {
      margin: 0;
    }
  }
  .complate_profile_link {
    color: #fff;
    background: #f0555c;
    border: none;
    padding: 7px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 10px;
    margin-top: 10px;
    text-decoration: none;
    &:hover {
      opacity: 0.7;
    }
  }
}
